[Unit]
Description=Flexget Daemon
After=network.target

[Service](/Service)
Type=simple
User=vfrc2
Group=vfrc2
UMask=000
WorkingDirectory=/etc/flexget
ExecStart=/usr/bin/flexget --logfile /dev/null daemon start
ExecStop=/usr/bin/flexget daemon stop
ExecReload=/usr/bin/flexget daemon reload

[Install]
WantedBy=multi-user.target