path:
    torrents: './torrents'
    series: './srv/download/series'
    movies: './srv/download/movies'
    over: './srv/download'

nnmclub:
    dl: 'dldldlddl'
    uk: 'ukukukukuk'

trakt:
    username: 'user'

pushbullet:
  apikey: 'aBcd...123'