paths:
    upload: './upload'
    series: './srv/download/series'
    series_target: './srv/download/series'
    movies: './srv/download/movies'
    over: './srv/download'

trakt:
    username: 'vfrc2'

lostfilm:
  cookie: 'uid=00000; pass=000..0000; usess=abcd...0000;'

pushbullet:
  apikey: 'aBcd...123'